.servicios {
    /* border-radius: 15px; */
    color: white;
    background-color: black;
    border-radius: 10px;

}

.navbar {
    color: black;
}

a {
    color: black;
}

body {
    font-family: kanit;
    width: 1200px;
    margin: 0 auto;
}

.li {
    margin: 20px;
}

.boton {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 5px;
    font-size: 12px;
}

.cuadradito {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;

}

.pie {
    background-color: wheat;
    text-align: center;
    margin-top: 40px;
}

.cuadradoGrande {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    padding-top: 35px;
}

.imagen {
    width: auto;
    height: 500px;
    border-radius: 20px;
    padding-left: 180px;
}

.principal {
    border-radius: 20px;
    background-color: lightgrey;
    width: 100%;
    display: flex;
}

.listaNav {
    display: inline-block;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.listItemNav {
    display: inline-block;
    margin-right: 20px;
}

.pantallaPrincipal {
    display: inline-block;
    padding: 50px;
}

h1 {
    font-size: 40px;
    width: 80%
}