h1 {
    color: blue;
}

h3 {
    color: #E36C0A;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: blue;

}
p5{
    color: #CC3399;
}

p4 {
    color: #5F497A;
}

p3{
    color: #A50021;
}

p2{
    color: darkgreen;

}

p1{
    color: #A50021;
}