
main{
    max-width: 900px;
    margin-inline: auto;
    border: 1px solid red;

}

header {
    text-align: center;
}
.contenido section {
    
}

@media screen and(min-width:600px) {
    article {
        display: flex;
        flex-wrap: wrap;

    }

    article header {
        width: 100%;
    }

    article .contenido {
        width: 75%;
        order: 1;
    }

    article section {
        width: 25%;
    }
}